

body
{
	background-color: #525754;
	background-image: url("images/stopcovid.jpg");
	background-position: cover;
}


nav a:hover, nav a:focus
{
	background-color: /#4f2002;
	border: 2px;
	text-decoration: none;
	background-color: #f5f9fc;
	padding: 0.5em;
}
#firsdiv img
{
	width: 100%;
	height: auto;
}

.symptom
{
	display: block;
	background-image: url("../images/Corona.png");
	margin-left:  11%;
	padding: 2%;
}

.symptom h2
{
	text-align: center;
	margin-left: -15%;
}

.most-common-symp
{
   background-color: #7cbcf7;
   font-family: sans-serif;
    display: inline-block;
    width: 400px;
    height: 200px;
    margin: 1em;
}

.less-common-symp
{
  background-color: #cbf22e;
  font-family: sans-serif;
  display: inline-block;
  width: 400px;
  height: 200px;
  margin: 1em;
}

.serious-symp
{
	width: 400px;
   background-color: #f78a45;
   font-family: sans-serif;
    display: inline-block;
    margin: 1em;
    height: 200px;
}

.coro
{
	height: 100%;
	width: 75%;
	display: block;
	text-align: center;
	margin-left:  11%;
	margin-bottom: 1%;
	margin-top: 3%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #86aff0;
}

.coro img
{
	float: right;
	width: 20%;
}

ul li a 
{
	text-decoration: none;
	list-style-type: none;
	list-style-image: url();
}

ul li a:hover, ul li a:focus
{
	color: #a1ffff;
	font-size: 24px;
}

table > th
{
   text-align: center;
}

table tr th 
{
	padding: 6px;
	margin: 3px;
}

.container
{
	display: flex;
}

@media screen and (min-width: 400px)
{
	.container
	{
		display: block;
	}
}

.dos-and-donts div img
{
   border-radius: 50%;
   width: 5em;
   height: 5em;
}


.dos-and-donts div
{
	margin: 2em;
}


.prevention h3
{
	text-align: center;
	font-size: 6em;
	font-family: elephant;
}