





#firsdiv img
{
	width: 100%;
	height: auto;
}

.symptom
{
	display: block;
	background-image: url("../images/Corona.png");
	margin-left:  11%;
	padding: 0px;
}

.symptom h2
{
	text-align: center;
	margin-left: -15%;
}
.coro
{
	height: 100%;
	width: 75%;
	display: block;
	text-align: center;
	margin-left:  11%;
	margin-bottom: 1%;
	margin-top: 3%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #86aff0;
}

.coro img
{
	float: right;
	width: 20%;
}


.imagess
{
	padding:20px;
	
	margin:20px;
	
}
@media screen and (min-width: 400px)
{
	.container
	{
		display: block;
	}
}

.dos-and-donts div img
{
   border-radius: 50%;
   width: 5em;
   height: 5em;
}


.dos-and-donts div
{
	margin: 2em;
}


