body {
    font-family: sans-serif;
}

.heading {
    text-align: center;
    margin: 50px
}

h1{
    color:#9400D3;
    font-size: 500% ;
}

.articles {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles a {
    text-decoration: none;
    color: black;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
    box-shadow: 0 2px 8px rgb(145, 145, 145);
    transition: 0.3s;
    border-radius: 4px;
    background-color: white;
}

.article:hover {
    box-shadow: 0 8px 20px rgb(145, 145, 145);
}

.article p {
    margin: 2rem;
    color:#FF0000;
    line-height: 200%;
}

.article-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.article-body img {
    width: 40%;
    height: 50%;
}
h2{
    color:#7CFC00;
    font-family:;
    font-size: 200%;
}
h3{
    color:#FF1493;
}
